@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  margin-bottom: 20px;
}

.allItems {
  position: relative;
  width: 600px;
  height: 100px;
  list-style: none;
  color: white;
  background-color: blueviolet;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.item {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.item.active {
  transform: translateY(-10px);
}

.item i {
  font-size: 30px;
}

.item .title {
  font-size: 12px;
  margin-bottom: -25px;
  opacity: 0;
}

.item.active .title {
  opacity: 1;
}

.dot {
  width: 40px;
  height: 40px;
  border: 9px solid white;
  border-radius: 50%;
  background-color: blueviolet;
  position: absolute;
  left: 80px;
  top: -20px;
  transition: all 0.3s ease-in-out;
}

.dot::after,
.dot::before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  bottom: -11px;
  background-color: blueviolet;
  box-shadow: 0px -7px white;
}

.dot::after {
  left: -24px;
  border-top-right-radius: 25px;
}

.dot::before {
  right: -24px;
  border-top-left-radius: 25px;
}
