@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  cursor: none;
  background-color: black;
}

h1 {
  color: white;
  font-size: 100px;
}

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: skyblue;
  pointer-events: none;
  box-shadow: 0 0 20px skyblue, 0 0 60px skyblue, 0 0 100px skyblue;
  z-index: 999;
  display: none;
  position: fixed;
  transform: translate(-50%, 50%);
  animation: colors 3s infinite;
  -webkit-animation: colors 3s infinite;
}

@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
    -webkit-filter: hue-rotate(360deg);
  }
}

.cursor::before {
  content: "";
  position: absolute;
  transform: translate(-30%, -30%);
  width: 50px;
  height: 50px;
  background: skyblue;
  border-radius: 50%;
  opacity: 0.2;
}
